<header>
      <%= link_to logo, root_path %>
      <nav class="round">
        <ul>
          <li><%= link_to "主页", root_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "个人主页", current_user %></li>
            <li><%= link_to "个人设置", edit_user_path(current_user) %></li>
          <% end %>
          <li><%= link_to "帮助",  help_path %></li>
          <% if signed_in? %>
             <li><%= link_to "退出", signout_path, :method => :delete %></li>
          <% else %>
             <li><%= link_to "登录", signin_path %></li>
          <% end %>        
        </ul>
      </nav>
</header>
